# maccth changes
.paket/paket.exe
packages/
tmp/*
inputs/*
docs/_build/*
plan.md

# The rest is from: https://gist.github.com/vmandic/ac2ecc9c24f6899ee0ec46e4ce444a0e

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode/*

# User-specific files
*.suo
*.user
*.userosscachegit
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/
src/Evaluator/.vscode/launch.json
